<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/55f6bdc5-ad91-4e3d-905a-ab86eb4718a0/resourcegroups/InternshipTask20220824021946ResourceGroup/providers/Microsoft.Web/sites/InternshipTask20220824102058</ResourceId>
    <ResourceGroup>InternshipTask20220824021946ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://internshiptask20220824102058.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>cb99efa3-8f69-4683-84d7-84c66034918b</ProjectGuid>
    <MSDeployServiceURL>internshiptask20220824102058.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InternshipTask20220824102058</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InternshipTask20220824102058</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/55f6bdc5-ad91-4e3d-905a-ab86eb4718a0/resourceGroups/InternshipTask20220824021946ResourceGroup/providers/Microsoft.ApiManagement/service/TestTaskAkv/apis/testtaks</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>